:root {
  --gray: #555;
  --darkgray: #999;
}

.mainBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 800px;
  margin: 30px auto;
  gap: 100px;
  padding: 20px;
}

.box {
  min-height: 180px;
  margin-top: 30px;
}

#output {
  margin: 0%;
}

.outputResult {
  border: 1px solid var(--darkgray);
  border-radius: 5px;
  padding: 20px;
  font-size: 22px;
  color: black;
  font-weight: 300;
  width: 280px;
  background: white;
}

textarea {
  width: 80%;
  min-height: 180px;
  resize: none;
}

.navbar {
  background-color: hsl(180, 2%, 90%);
  display: flex;
  justify-content: center;
  color: black;
  font-size: 12px;
  font-weight: 300;
}

.iconBox {
  display: flex;
  justify-content: start;
  margin-top: 10px;
}

.icon {
  width: 24px;
  height: 24px;
  color: #777;
  padding: 10px;
  border-radius: 20%;
  margin-left: 10px;
}

.icon:hover {
  background-color: black;
  color: white;
}

select {
  font-size: 16px;
  flex: 1;
  padding: 0 1em;
  background-color: white;
  cursor: pointer;
  display: flex;
  width: 280px;
  height: 2.5em;
  border-radius: 10px;
  overflow: hidden;
}

select:hover {
  background-color: hsl(180, 2%, 90%);
  color: black;
}

select {
  background-color: white;
  border: thin solid black;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.round {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

@media screen and (max-width: 2000px) {
  .mainBox {
    gap: 30px;
    transform: translate(0%);
  }
  .box {
    min-height: 180px;
  }
  .outputResult {
    width: 240px;
    max-width: 240px;
  }
}

@media screen and (max-width: 600px) {
  .mainBox {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    transform: translate(10%);
    width: 100%;
  }
  .box {
    min-height: 150px;
    margin-top: 20px;
  }
  .outputResult {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .mainBox {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    transform: translate(5%);
  }
  .outputResult {
    width: 240px;
  }
}

@media screen and (max-width: 300px) {
  .mainBox {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    display: grid;
    transform: translate(5%);
  }
  .navbar > h1 {
    font-size: 16px;
  }
  .select {
    width: 100%;
  }
  .outputResult {
    width: 240px;
  }
}
